.App {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.pawn-container {
  display: inline-flex;
  flex-direction: column;
  align-items: center;
}

.pawn,
.player-pawn {
  width: 100px;
  height: 100px;
  cursor: pointer;
  padding: 1px;
}

.pawn-logo {
  width: 50px;
  height: auto;
}

.pawn:hover {
  transform: scale(1.5);
}

.players {
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 0 2rem;
}

.button {
  margin: auto;
  text-align: center;
  position: relative;
  display: block;
  height: 6.5rem;
  width: 18.5rem;
  background: rgba(255, 0, 0, 0.9);
  color: white;
  padding: 20px;
  border: 8px solid black;
  font-family: 'BioRhyme', serif;
  font-size: 3em;
  line-height: 1em;
  text-transform: uppercase;
  cursor: pointer;
}

.button:hover {
  background: rgba(0, 255, 0, 0.7);
}

.game-board {
  width: 60vw;
  height: 60vw;
  max-width: 80vh;
  max-height: 80vh;
  display: grid;
  margin-bottom: 1rem;
  /* grid-template-rows: repeat(5, 1fr);
  grid-template-columns: repeat(5, 1fr); */
  /* grid-template: repeat(5, 1fr) / repeat(5, 1fr); */
}

.game-square {
  text-align: center;
  color: white;
  background: black;
  outline: 2px solid white;
  display: flex;
  justify-content: center;
  align-items: center;
}

.game-square img {
  width: 100%;
  height: auto;
}

.player-avatar {
  display: flex;
  justify-content: center;
  align-items: center;
}

.player-avatar .pawn {
  width: 45px;
  height: auto;
}

.player-score {
  font-size: 1.5rem;
}

.board-middle {
  grid-row: 2 / -2;
  grid-column: 2 / -2;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background: rgba(0, 0, 0, 0.9);
  color: white;
}

.board-middle small {
  text-transform: lowercase;
  font-size: 1.2rem;
}

.rolled-die {
  font-size: 8rem;
}

@media (max-width: 720px) {
  body {
    overflow: visible;
  }

  h1 {
    font-size: 1.3rem;
  }

  .pawn-container {
    display: block;
    margin: 0.8rem auto;
  }

  .pawn {
    width: 7.5rem;
    height: auto;
    padding: 0;
  }

  .pawn:hover {
    transform: scale(1.2);
  }

  .pawn-logo {
    display: none;
  }

  .button {
    height: 4.5rem;
    width: 12.3rem;
    padding: 0.8rem;
    border: 0.4rem solid black;
    font-size: 2rem;
  }

  .players {
    display: inline-flex;
    margin-top: 1rem;
  }

  .game-board {
    width: 94vw;
    height: 65vh;
    margin: 2rem auto;
  }

  .rolled-die {
    font-size: 3.5rem;
  }

  .game-square img {
    height: 100%;
  }
}
